.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        color: var(--primary);
    }
}
.title {
    margin-left: 10px;
}
